@import "tailwindcss";

:root {
  /* Light Mode Defaults */
  --background: #ffffff;
  --foreground: #050505;
  --primary: #ef6524;
  --card: #f5f5f5;
  --border: #e5e5e5;

  /* Syntax Highlighting / Accents */
  --glass-border: rgba(0, 0, 0, 0.1);
  --glass-bg: rgba(255, 255, 255, 0.7);
}

.dark {
  /* Dark Mode Defaults */
  --background: #050505;
  --foreground: #ffffff;
  --primary: #ef6524;
  --card: #0a0a0a;
  --border: #222222;

  /* Syntax Highlighting / Accents */
  --glass-border: rgba(255, 255, 255, 0.1);
  --glass-bg: rgba(0, 0, 0, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
